<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a routerLink="/admin" class="nav-item nav-link ">Update Price</a>
                <a routerLink="/coupon" class="nav-item nav-link">Update coupon</a>
                <a href="/wareouseinfo" class="nav-item nav-link">Update warehouse info</a>
                <a href="/inventoryinfo" class="nav-item nav-link">Inventory info</a>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <div class="container">
    <h4>Select warehouse</h4>
    <select class="drop">
        <option value="item1">item1</option>
        <option value="item2">item2</option>
        <option value="item3">item3</option>
        <option value="item4">item4</option>
        <option value="item5">item5</option>
        <option value="item6">item6</option>
    </select>
    <br>
    <br>
    <h4>Enter Address</h4>
    <input type="text" class="drop">
    <br>
    <br>    
    <button class=" btn-primary py-2 px-4 d-none d-lg-block">Update</button>
</div>
  </div>