<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
      <!-- <a href="index.html" class="navbar-brand ml-lg-3">
          <h1 class=""><i class="fa fa-truck mr-2"></i>D2D</h1>
      </a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
          <div class="navbar-nav m-auto py-0">
              <a routerLink="/admin" class="nav-item nav-link ">Update Price</a>
              <a routerLink="/coupon" class="nav-item nav-link">Update coupon</a>
              <a href="/wareouseinfo" class="nav-item nav-link">Update warehouse info</a>
              <a href="/inventoryinfo" class="nav-item nav-link">Inventory info</a>
          </div>
      </div>
  </nav>
  <br>
  <br>
  <div class="container">

      <div class="divChart">
      <canvas id="myChart"></canvas>
  </div>

    <h3>Orders ready to fetch</h3>
    <table>
      <thead>
          <tr>
              <th>Order ID</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let order of fetchlist">
              <td>{{order.o_id}}</td>
              <td>{{order.oStatus}}</td>
          </tr>
      </tbody>
  </table>
    <br><br>
    <h3>Orders inside the warehouse</h3>
    <table>
      <thead>
          <tr>
              <th>Order ID</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let order of inlist">
              <td>{{order.o_id}}</td>
              <td>{{order.oStatus}}</td>
          </tr>
      </tbody>
  </table>
    <br><br>
    <h3>Orders delivered</h3>
    <table>
      <thead>
          <tr>
              <th>Order ID</th>
              <th>Status</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let order of dellist">
              <td>{{order.o_id}}</td>
              <td>{{order.oStatus}}</td>
          </tr>
      </tbody>
  </table>
    <br><br>
  <!-- <button class=" btn-primary py-2 px-4 d-none d-lg-block">Update</button> -->
</div>
</div>
