<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><h1 class=""><i class="fa fa-truck mr-2"></i>D2D</h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="collapse navbar-collapse justify-content-between px-lg-3">
            <a class="nav-link" routerLink="/customerLogin" routerLinkActive="active">Home</a>
          </li>
          <li class="collapse navbar-collapse justify-content-between px-lg-3">
            <a class="nav-link" routerLink="/modifyOrder" routerLinkActive="active">Modify Order</a>
          </li>
          <li class="collapse navbar-collapse justify-content-between px-lg-3">
              <a class="nav-link" routerLink="/viewOrder" routerLinkActive="active">View Orders</a>
            </li>
          <li class="collapse navbar-collapse justify-content-between px-lg-3">
              <a class="nav-link" routerLink="/rateUs" routerLinkActive="active">Rate Us</a>
            </li>

          <li>
              <button class="btn btn-outline-success collapse navbar-collapse  justify-content-between px-lg-3" >Logout</button> <!--(click)="logout()"-->
          </li>
        </ul>
      </div>
    </nav>
  </div>


  <div class='container justify-content-center'>

    <div class='login'>
      <h2> Modify Order</h2>
    </div>
    <div *ngIf ="get">
      <div class="form-signin w-100 auto">
        <form #modiyForm="ngForm" (ngSubmit) ="onSubmit(modiyForm)"  novalidate>
          <div class="form-floating" >
            <input type="text" class="form-control" id="floatingName" placeholder="Tracking ID/Order ID" name="o_id" [(ngModel)]="oid" required>
            <label for="floatingName">Tracking ID/Order ID</label>
          </div>
          <br>

          <br>
            <button class="w-100 btn btn-lg btn-primary"  type="submit">Show Details</button>

        </form>
        <!-- <button class="w-100 btn btn-lg btn-primary" routerLink="/customerLogin">Sign Up</button> -->
      </div>
    </div>

    <div *ngIf="got">

      <h4> Order ID: {{oid}} </h4>
      <h4> Order Status: {{o_status}}</h4>

      <h4> Order Picup Date: {{pDate}}</h4>
      <div *ngIf="notPick">
        <form #modiyForm="ngForm" (ngSubmit) ="submitModify(modiyForm)"  novalidate>
          <div class="form-floating" >
            <input type="text" class="form-control" id="floatingName" placeholder="dd/mm/yyyy" name="o_id" [(ngModel)]="dDate" required>
            <label for="floatingName">dd/mm/yyyy</label>
          </div>
          <br>

          <br>
            <button class="w-100 btn btn-lg btn-primary"  type="submit">Show Details</button>

        </form>
      </div>


    </div>




  </div>
