<!-- Navbar Start-->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand ml-lg-3">
            <h1 class=""><i class="fa fa-truck mr-2"></i>D2D</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
              <a href="index.html" class="nav-item nav-link ">Home</a>
              <a href="/about" class="nav-item nav-link">About</a>
              <a href="/services" class="nav-item nav-link">Services</a>
              <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
  
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn-primary py-2 px-4 d-none d-lg-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;">
                Login
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/login">Customers</a>
                <a class="dropdown-item" routerLink="/admin-login">Admin/Wearhouse Manager</a>
                <a class="dropdown-item" href="/dp-login">Delivery Partner</a>
              </div>
            </div>
            <a routerLink="/register" routerLinkActive="active" class=" btn-primary py-2 px-4" style="margin-left: 50px; text-decoration: none;" >Sign-up</a>
        </div>
    </nav>
  </div>
  <!-- NavbarEnds -->


<div class="shippingCalculator">
<!-- Calculting the price for shippment -->
<div class="getEstimation" >
    <div style="margin-left: 10px;"><h2>Calculate the shipping rates!</h2></div>
    <div>
        <table style="margin-left: 120px;">
            <tr >
                <td>
                    <input class="form-control" type="text" placeholder="FROM">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" type="text" placeholder="TO" >
                </td>
            </tr>
        </table>
    </div>
</div>
<br>
 <!-- Type of package to be shipped -->
    <div>
        <h4 style="text-align: center;">Tell us about your shipping. </h4>
    </div>
    <table style="margin-left: 150px;">
        <tr>
            <td>
                <h6 style="text-align: center;" >Your Packaging</h6>
            </td>
        </tr>
        <tr>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%; text-align:center;border:1px solid rgb(192, 192, 192)">D2D SMALL ENVELOPE</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">D2D LARGE BOX</a>
                <a class="dropdown-item" href="#">D2D BIG BOX</a>
                </div>
            </div>
        </tr>
    </table>

<br>
<div>
    <table>
        <tr>
            <td>
                <h6 style=" text-align: center;">No. of Packages</h6>
            </td>
            <td style="padding-left:10px; text-align: center;">
                <h6>Weight Per Package</h6>
            </td>
            <td> 
              <h6 style=" text-align: center;">Dimensions Per Packages</h6> 
            </td>
        </tr>
        <tr>
            <td>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%; text-align:center;border:1px solid rgb(192, 192, 192)">1</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">2</a>
                      <a class="dropdown-item" href="#">3</a>
                    </div>
                </div>                  
            </td>
            <td>
                <input type="text" class="form-control" id="inputPassword2" placeholder="Enter the Weight">
            </td>
            <td>
                <input type="text" class="form-control" id="inputPassword2" placeholder="Enter the dimensions in LxBxH">
            </td>
        </tr>
    </table>
  
</div>


<!-- End of the package to be shipped -->
<br>
<button type="submit"  class="btn btn-primary px-3" style="margin-left: 150px;"> Calculate the Price</button>
<!-- End of calculating the shippment -->

<!-- Description about why choose D2D -->
<div>
    <br>
    <div><h2>Why choose D2D?</h2></div>
    <div>
        <table>
            <tr>
                <td>
                    <h4>WORLDWIDE COVERAGE</h4>
                    <p>
                        You can send small, big, express and less urgent shipments to over 220 countries and territories.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>FREE PACKAGING</h4>
                    <p>
                        Need envelopes or boxes? Get them all for free by just signing up and opening an account.
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>SMART TOOLS</h4>
                    <p>
                        Our tools put you in control - from real-time tracking updates to flexible delivery options, you decide exactly how you want to ship.
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- End of Description -->
</div>