.form-inline{
   /* max-width: 800px; */
   margin: auto;
   font-family: Poppins;
}

.payment{
    /* max-width: 800px; */
    margin: auto;
    font-family: Poppins;
}




.deliveryImage {
    background-image: url("../../../assets/Delivery.jpg");
    background-repeat: repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%; 
    width: 100%; */
    font-size: 120px;
    
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    height:400px;
    opacity: 0.8;

}

.card-body{
    margin-left: 28px;
}

.cardAnchorStyling{
   color: black;
    text-decoration: none;
}
    

.cardAnchorStyling:hover {
    color: orangered; 
    background-color: blueviolet; 
    text-decoration:dotted; 
    cursor:pointer;  
   
}

.btn{
    border-radius: 15px;
}

.btn:hover{
    background-color: black;
    color: white;
}