

<!-- NavBar Starting for the customer login -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><h1 class=""><i class="fa fa-truck mr-2"></i>D2D</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="collapse navbar-collapse justify-content-between px-lg-3">
          <a class="nav-link" href="#">Track Consignment</a>
        </li>
        <li class="collapse navbar-collapse justify-content-between px-lg-3">
          <a class="nav-link" href="#">Modify Order</a>
        </li>
        <li class="collapse navbar-collapse justify-content-between px-lg-3">
            <a class="nav-link" href="#">Shipping Information</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dropOffPackage" routerLinkActive="active">DropOff Package</a>
        </li>
        <li class="collapse navbar-collapse justify-content-between px-lg-3">
            <a class="nav-link" routerLink="/rateUs" routerLinkActive="active">Rate Us</a>
          </li>
        <li class="collapse navbar-collapse justify-content-between px-lg-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </li>
        <li>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </li>
      </ul>
    </div>
  </nav>
<!-- Navbar ending for the customer login page -->
<section class="deliveryImage">
    <div>
        <h2 style="margin: 10px;">Services spread across 23 states & 5 Union Territories.</h2>
    </div>
</section>

<!-- Content for customer login starts from here -->
<div>
  <div><h2 style="text-align: center;">Ship, manage, track, deliver</h2></div>
 </div>
 <div>
    <table class="container" style="margin-top:30px ">
        <tr class="row">
            <td class = "col">
                <a routerLink="/dropOffPackage" routerLinkActive="active" class="cardAnchorStyling" >
                    <div class="card" >
                        <div class="card-body">
                            <i class="fa-solid fa-truck fa-2xl d-flex justify-content-center" ></i>
                            <br>
                            <h5 class="card-title" style="text-align: center;">RATE & SHIP</h5>
                        </div>
                    </div>
                </a>
            </td>
            <td class = "col">
                <div class="card" style= "  background-color: blueviolet; " >
                    <div class="card-body" >
                        <i class="fa-sharp fa-solid fa-box fa-2xl  d-flex justify-content-center" ></i>
                        <br>
                        <h5 class="card-title" style="text-align: center;">TRACK</h5>
                    </div>
                  </div>
            </td>
            <td class = "col">
                <div class="card" >
                    <div class="card-body">
                        <i class="fa-solid fa-location-dot fa-2xl  d-flex justify-content-center" ></i>
                        <br>
                        <h5 class="card-title" style="text-align: center;">LOCATIONS</h5>
                    </div>
                  </div>
            </td>
        </tr>
    </table>

    <!-- Tracking Id Starting -->

    <br>
    <br>

                <div class="container" >
                  <div class="row">
                    <div class="col d-flex justify-content-end">
                      <input type="text" class="form-control"  style="width:250px; " placeholder="Tracking Id">
                   </div>
                    <div class="col d-flex justify-content-left">
                      <button class="btn btn-info px-4" >Track & Trace</button>
                    </div>
                  </div>

                </div>
    <!-- Tracking ID stopped here -->
</div>

<br>



<div>

    <br>
        <table class="container">
            <tr class="row" style="border: 1px dotted black; " >
                <td class="col">
                    <img src="../../../assets/team-1.jpg" alt="" >
                </td>
                <td  class="col d-flex justify-content-center" style="background-color: rgb(199, 196, 196);  text-align:center; ">
                    <div >
                            <h4>Keep holiday surprises secure</h4>
                        <p style="text-align:center;">Hide packages from little ones—and porch pirates. Redirect packages to a retail location for pickup. It’s just one of the benefits of D2D Delivery Manager®.</p>
                        <button class="btn btn-info" style="border-radius: 100x;"> SIGN UP FOR FREE</button>
                    </div>
                </td>
            </tr>
            <br>
            <tr class="row" style="border: 1px dotted black; " >
                <td class="col ">
                    <img src="../../../assets/team-3.jpg" alt="">
                </td>
                <td class="col d-flex justify-content-center" style="background-color: rgb(255, 250, 250); text-align:center;">
                <div >
                    <h4>Ship while you’re out and about</h4>
                    <p style="text-align:justify;">Create a shipping label on your phone with the D2D® Mobile app. Bring the QR code to one of thousands of locations nationwide. A team member will print a label for you.</p>
                    <button class="btn btn-info" style="border-radius: 100x;"> SHOPS NEAR ME</button>
                </div>
                </td>
            </tr>
            <br>
             <tr class="row" style="border: 1px dotted black; " >
                <td class="col">
                    <img src="../../../assets/team-2.jpg" alt="">
                </td>
                <td class="col d-flex justify-content-center" style="background-color: rgb(199, 196, 196); text-align:center; ">
                <div>
                    <h4>Seeing is believing this season</h4>
                    <p style="text-align:justify;">Be confident your package arrived with free picture proof of delivery. Use your tracking number to view exactly where we left your shipment.</p>
                    <button class="btn btn-info" style="border-radius: 100x;"> START NOW</button>
                </div>
                </td>
            </tr>
        </table>


</div>

