<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><h1 class=""><i class="fa fa-truck mr-2"></i>D2D</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="collapse navbar-collapse justify-content-between px-lg-3">
        <a routerLink="/admin" class="nav-link ">Update Price</a>
      </li>
      <li class="nav-item">
        <a routerLink="/coupon" class="nav-link">Update coupon</a>
      </li>
      <li class="collapse navbar-collapse justify-content-between px-lg-3">
        <a href="/wareouseinfo" class=" nav-link">Update warehouse info</a>

      </li>
       <li class="collapse navbar-collapse justify-content-between px-lg-3">
        <a href="/inventoryinfo" class="nav-item nav-link">Inventory info</a>
       </li>


    </ul>
  </div>
</nav>

<div class="container-fluid p-0">
    <br>
    <br>
    <div class="container">
    <h4>Select product</h4>
    <select class="drop">
        <option value="item1">item1</option>
        <option value="item2">item2</option>
        <option value="item3">item3</option>
        <option value="item4">item4</option>
        <option value="item5">item5</option>
        <option value="item6">item6</option>
    </select>
    <br>
    <br>
    <h4>Enter Price</h4>
    <input type="text" class="drop">
    <br>
    <br>
    <button class=" btn-primary py-2 px-4 d-none d-lg-block">Update</button>
</div>
  </div>

  
 <!-- Footer Start -->
 <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5 footer">
  <div class="row pt-5">
      <div class="col-lg-7 col-md-6">
          <div class="row">
              
              <div class="col-md-6 mb-5" style="padding-left: 150px;">
                  <h3 class=" mb-4" style="color:#3d7e70;">Quick Links</h3>
                  <div class="d-flex flex-column justify-content-start">
                      <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                      <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                      <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Services</a>
                      <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Pricing Plan</a>
                      <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-5 col-md-6 mb-5">
          <h3 class="mb-4" style="color:#3d7e70;">Get In Touch</h3>
                  <p><i class="fa fa-map-marker-alt mr-2"></i>#401, 32nd Street, New York, USA</p>
                  <p><i class="fa fa-phone-alt mr-2"></i>+1 773 823 6789</p>
                  <p><i class="fa fa-envelope mr-2"></i>info@kgf.com</p>
                  <div class="d-flex justify-content-start mt-4">
                      <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                      <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
                  </div>
      </div>
  </div>
</div>

<!-- Footer End -->