<p>register works!</p>

<div class='container justify-content-center'>
  <div class='login'>
    <h2> User Registration</h2>
  </div>
  <div class="form-signin w-100 auto">
    <form >
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingName" placeholder="UserName" required>
        <label for="floatingName">User Name</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control" id="floatingMobile" placeholder="Mobile Number" required>
        <label for="floatingMobile">Mobile Number</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingRePassword" placeholder="Re-Type Password" required>
        <label for="floatingRePassword">Re-Type Password</label>
      </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>

    </form>

  </div>


</div>
