<!-- Navbar Start-->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand ml-lg-3">
            <h1 class=""><i class="fa fa-truck mr-2"></i>D2D</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
              <a href="index.html" class="nav-item nav-link ">Home</a>
              <a href="/about" class="nav-item nav-link">About</a>
              <a href="/services" class="nav-item nav-link">Services</a>
              <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
  
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn-primary py-2 px-4 d-none d-lg-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;">
                Login
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/login">Customers</a>
                <a class="dropdown-item" routerLink="/admin-login">Admin/Wearhouse Manager</a>
                <a class="dropdown-item" href="/dp-login">Delivery Partner</a>
              </div>
            </div>
            <a routerLink="/register" routerLinkActive="active" class=" btn-primary py-2 px-4" style="margin-left: 50px; text-decoration: none;" >Sign-up</a>
        </div>
    </nav>
  </div>
  <!-- NavbarEnds -->