

<!-- Navbar Start-->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand ml-lg-3">
            <h1 class=""><i class="fa fa-truck mr-2"></i>D2D</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
              <a href="index.html" class="nav-item nav-link ">Home</a>
              <a href="/about" class="nav-item nav-link">About</a>
              <a href="/services" class="nav-item nav-link">Services</a>
              <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
  
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle btn-primary py-2 px-4 d-none d-lg-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;">
                Login
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/login">Customers</a>
                <a class="dropdown-item" routerLink="/admin-login">Admin/Wearhouse Manager</a>
                <a class="dropdown-item" href="/dp-login">Delivery Partner</a>
              </div>
            </div>
            <a routerLink="/register" routerLinkActive="active" class=" btn-primary py-2 px-4" style="margin-left: 50px; text-decoration: none;" >Sign-up</a>
        </div>
    </nav>
  </div>
  <!-- NavbarEnds -->

  <!-- maps -->

  <table> 
    <tr>
      <td>
        <div id="map"></div>
      </td>
      <td>
        <!-- Dividing the page in two -->
        <table>

          <tr>
            <td class = "reviewsByUser">
              <div >
                
                <div>
                  <div class="" > 
                    <h4 style="text-align: center;">D2D Lake Shore Warehouse</h4>
                    <h6>Reviewer Name:</h6>
                    <p>{{reviewName1}}</p>
                    <h6 >Review:</h6>
                    <p>1. {{review1}}</p> 
                   
                  </div>
                </div>
              </div>
              
            </td>
          </tr>
          <br>
          <tr>
            <td class = "reviewsByUser">
              <div >
                <div>
                  <div class="" > 
                    <h4 style="text-align: center;">D2D Bridgeport Warehouse</h4>
                    <h6>Reviewer Name:</h6>
                    <p>{{reviewName2}}</p>
                    <h6 >Review:</h6>
                    <p>1. {{review2}}</p> 
                   
                  </div>
                </div>
              </div>
              
            </td>
          </tr>
          <br>
          <tr>
            <td class = "reviewsByUser">
              <div >
                
                <div>
                  <div class="" > 
                    <h4 style="text-align: center;">D2D Fuller Park Warehouse</h4>
                    <h6>Reviewer Name:</h6>
                    <p>{{reviewName3}}</p>
                    <h6 >Review:</h6>
                    <p>1. {{review3}}</p> 
                   
                  </div>
                </div>
              </div>
              
            </td>
          </tr>
          <br>
          <tr>
            <td class = "reviewsByUser">
              <div >
                
                <div>
                  <div class="" > 
                    <h4 style="text-align: center;">D2D Downtown Park</h4>
                    <h6>Reviewer Name:</h6>
                    <p>{{reviewName4}}</p>
                    <h6 >Review:</h6>
                    <p>1. {{review4}}</p> 
                   
                  </div>
                </div>
              </div>
              
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  