

<div class='container justify-content-center'>
  <div class='login'>
    <h2> Enter your User ID and password to login</h2>
  </div>
  <div class="form-signin w-100 auto">
    <form >
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
      </div>
      <div class="checkbox mb-3">
          <label>
            <input type="button" value="Forgot-Password">
          </label>
      </div>
      <!-- Radio buttons for Cutomer or Business indviduals -->
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Individual Customers
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Business Customers
        </label>
      </div>

      <!-- End of radio buttons -->

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>


    </form>

  </div>


</div>

<button> <a routerLink="/customerLogin" routerLinkActive="active">Dummy to check customer login</a></button>
